DB_URL=jdbc:postgresql://localhost:5432/bankapp
DB_USERNAME=bankapp
DB_PASSWORD=bankapp123

KEYCLOAK_JWK_URI=http://localhost:8180/realms/bankapp/protocol/openid-connect/certs
KEYCLOAK_ADMIN_URL=http://localhost:8180
KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=Admin@1234
